[submodule "colors/gnome-terminal"]
	path = colors/gnome-terminal
	url = git@github.com:sigurdga/gnome-terminal-colors-solarized.git
[submodule "colors/dircolors-solarized"]
	path = colors/dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule "colors/base16-kitty"]
	path = colors/base16-kitty
	url = https://github.com/kdrag0n/base16-kitty
